<template>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-5">
                <h3 class="mt-5 border-bottom">Add new product</h3>
                <form>
                    <div class="form-group">
                        <label for="productName">Product Name</label>
                        <input type="text" class="form-control" id="productName" placeholder="Enter product name"
                               v-model="newProduct.name">
                    </div>
                    <div class="form-group">
                        <label for="quantityStock">Quantity in stock</label>
                        <input type="number" class="form-control" id="quantityStock" placeholder="Quantity in stock"
                               v-model="newProduct.quantity">
                    </div>
                    <div class="form-group">
                        <label for="priceItem">Price per item</label>
                        <input type="number" class="form-control" id="priceItem" placeholder="Price per item"
                               v-model="newProduct.price">
                    </div>
                    <button type="submit" class="btn btn-primary" @click.prevent="add">Add product</button>
                </form>
            </div>
            <div class="col-md-6 offset-1">
                <h3 class="mt-5">Products List</h3>
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Total value</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(product, key) in products" :key="key">
                        <th scope="row">{{ ++key }}</th>
                        <template v-if="product.edit">
                            <td>
                                <input type="text" class="form-control" v-model="product.name">
                            </td>
                            <td>
                                <input type="text" class="form-control" v-model="product.price">
                            </td>
                            <td>
                                <input type="text" class="form-control" v-model="product.quantity">
                            </td>
                        </template>
                        <template v-else>
                            <td>{{ product.name }}</td>
                            <td>${{ product.price }}</td>
                            <td>{{ product.quantity }}</td>
                        </template>
                        <td>${{ product.price*product.quantity }}</td>
                        <td>
                            <button class="btn btn-sm btn-primary" v-if="product.edit" @click="edit(--key)">
                                Save
                            </button>
                            <button class="btn btn-sm btn-primary" v-else @click="product.edit = true">
                                Edit
                            </button>
                            <button class="btn btn-sm btn-danger" @click="remove(--key)">
                                X
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"></td>
                        <td><strong>${{ totalSum }}</strong></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                newProduct: {
                    name: '',
                    quantity: 0,
                    price: 0,
                    edit: false
                },
                products: []
            }
        },
        created() {
            this.get();
        },
        computed: {
            totalSum: function () {
                if (this.products.length) {
                    return this.products.reduce(function (totalSum, product) {
                        return totalSum + (product.price * product.quantity);
                    }, 0);
                }

                return 0;
            }
        },
        methods: {
            get() {
                this.$http.get('/get-all').then(response => {
                    this.products = response.body;
                })
            },
            add() {
                this.products.push(this.newProduct);
                this.$http.post('/add-new', this.newProduct).then(response => {
                }, () => {
                    alert('There are some problems in the server. Ask support team for that problems!');
                });
            },
            edit(index) {
                let product = this.products[index];
                product.edit = false;
                this.$http.put('/edit/' + index, product).then(response => {
                }, () => {
                    alert('There are some problems in the server. Ask support team for that problems!');
                })
            },
            remove(index) {
                this.products.splice(index, 1);
                this.$http.delete('/delete/' + index).then(response => {
                }, () => {
                    alert('There are some problems in the server. Ask support team for that problems!');
                })
            }
        }
    }
</script>
